<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
<title>Add a new book</title>
</head>
<body>
	<!-- Google CDN (content delivery network) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Kokeilua. Painiketta klikkaamalla aukeaisi syöttökenttä, johon voisi syöttää uuden kategorian nimen -->

	<script type="text/javascript">
		$(document).ready(function() {
			
			// Nyt lisää valmiin kategorian mutta uuden kategorian luominen tallettaa tietokantaan tyhjän kategorian

			$('#createNew').click(function() {
				$('#categoryCreator').css("visibility", "visible");
				//$('#newCategoryInput').attr('th:field', '${category.name}');
				$('#categorySelector').removeAttr('th:field'); 
				$('#categorySelector').remove();
				

				// ehkäisee selaimen oletustoiminnan
				// ilman tätä painikkeen klikkaus vie takaisin kirjalista-näkymään

				return false;
			});

		});
	</script>

	<a href="booklist">Return</a>
	<form th:object="${book}" action="#" method="post" th:action="@{saveBook}">
		
			
		<label>Title:</label> 
		<input type="text" th:field="*{title}" />
		<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
			Error
		</div>
	
		<br /> 
	
		<label>Author:</label> 
		<input th:field="*{author}" />
		<br />
		<div th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</div>
	
		<label>Year:</label>
		<input th:field=*{year} /><br />
		<div th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Error</div>
	
	
		<label>Category:</label>
		<select id="categorySelector" th:field="*{category}">
			<option value=""></option>
			<option th:each="category : ${categories}"
				th:text="${category.name}" th:value="${category.id}"></option>
			<!-- <option onselect="createNewCategory()" value="new">Create new</option>
			<option value="new">Create new</option> -->
		</select> <br />
		
		<div th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Error</div> 
	
	
		<button id="createNew">Create new</button>
		
		<!-- Kenttä, joka tulisi näkyviin painiketta klikkaamalla -->
		<!-- inline CSS  -->
		<div id="categoryCreator" style="visibility: hidden;">
			<label>Create a new category: <input id="newCategoryInput" type="text" th:field="${category.name}" /></label><br />
		</div>
	
		<input type="submit" value="Add" />
		
	</form>
</body>
</html>