<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="utf-8">
<title>Review</title>
</head>
<body>
	<a th:href="@{../{id}(id=${book.id})}">Return</a>
	<form th:object="${review}" th:action="@{/saveReview}" action="#" method="post">
		<input type=hidden th:field="${book.id}" th:value="${book.id}" />
		<!-- <input type="hidden" th:field="*{book}" th:value="${book}" /> -->
		<label>Reviewer</label>
		<input type="text" readonly="readonly" th:field="${user.username}" th:value="${user.username}" /><br />
		<label>Review</label>
		<input type="text" th:field="*{reviewText}" /><br />
		<!-- <div th:if="${#fields.hasErrors('reviewText')}" th:errors="*{reviewText}">Error</div> -->
		<label>Rating</label>
		<input type="text" th:field="*{rating}" /><br />
		<!-- <input type="text" th:field="*{book}" th:value="${book.title}" /> -->
		<input type="submit" value="Submit" />	
	</form>

</body>
</html>