<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<title>asd</title>
</head>
<body>
	<a th:href="@{review/{title}(title=${book.title})}">Review this
		book</a>
	<div th:object="${book}">
		<p th:text="*{title}"></p>
		<p th:text="*{author}"></p>
		<p th:text="*{year}"></p>
		<p th:text="*{category.name}"></p>

		<!-- *{reviews} näyttää tyhjän listan -->
		<!-- <p th:text="*{reviews}"></p> -->
	</div>
	<!-- <form th:object="${review}" action="#" th:action="@{saveReview}" method="post">
		<label>Reviewer:</label>
		<input type="text" th:field="*{reviewer}" /><br />
		<label>Review:</label>
		<input type="text" th:field="*{reviewText}" /><br />
		<label>Rating:</label>
		<input type="text" th:field="*{rating}" /><br />
		<input type="submit" value="Submit" />
	</form> -->
	<div th:each="review : ${reviews}">
		<p th:text="${review.reviewer.username}"></p>
		<p th:text="${review.reviewText}"></p>
		<p th:text="${review.rating}"></p>
		<div sec:authorize="hasAuthority('ADMIN')">
			<a
				th:href="@{delete/{title}/{id}(title=${book.title}, id=${review.id})}">Delete</a>
		</div>
	</div>

</body>
</html>