<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<title th:text="${book.title}"></title>
</head>
<body>
	<a href="../booklist">Return</a>
	<a th:href="@{review/{id}(id=${book.id})}">Review this book</a>
	<div th:object="${book}">
		<p th:text="*{title}"></p>
		<p th:text="*{author}"></p>
		<p th:text="*{year}"></p>
		<p th:text="*{category.name}"></p>
	</div>
<div>----------</div>
	<div th:each="review : ${reviews}">
		<p th:text="${review.reviewer.username}"></p>
		<p th:text="${review.reviewText}"></p>
		<p th:text="${review.rating}"></p>
		<div sec:authorize="hasAuthority('ADMIN')">
			<a
				th:href="@{delete/{bookId}/{reviewId}(bookId=${book.id}, reviewId=${review.id})}">Delete</a>
		</div>
		<div>----------</div>
	</div>

</body>
</html>